# Compiled and binary files
*.o
*.obj
*.a
*.lib
*.so
*.dll
*.exe
*.out

# Build directories
/build/
/build/**
dist/
target/
cmake-build-*/

# Dependencies
node_modules/
venv/
.venv/
__pycache__/
.mypy_cache/
.pytest_cache/
.gradle/

# Editors
.vscode/
.idea/
*.swp
*.swo

# Logs and temp files
*.log
*.tmp

# System files
.DS_Store
Thumbs.db

# Environment files
.env
.env.local
*.env.*
